<footer class="custom-footer">
<link rel="stylesheet" href="/styles/footer.css" />
<div class="footer-container">

<div class="footer-column">
    <h3 class="dm-serif-text-regular">Contact Us</h3>
    <p><span class="material-icons">location_on</span> No. 36, 3rd Cross, Bikasipura, J C Industrial Area, Kanakpura Main Road, Bangalore - 560062</p>
    <p><span class="material-icons">email</span> ###</p>
    <p><span class="material-icons">call</span> +91-8217664390</p>
    <div class="social-icons">
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733635.png" alt="Twitter" /></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" /></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" /></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" /></a>
    </div>
</div>

<div class="footer-column">
    <h3 class="dm-serif-text-regular"><a href="/feedback/support/support.ejs">Help</a></h3>
    <ul>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Shipping Policy</a></li>
    <li><a href="#">Cancellation & Return</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms & Condition</a></li>
    <li><a href="#">Warranty Terms</a></li>
    </ul>
</div>

<div class="footer-column">
    <h3 class="dm-serif-text-regular"><a href="/feedback/about/about.ejs">About Us</a></h3>
    <p>Based in Bangalore, we specialize in high-quality car seat covers and accessories designed to enhance your vehicle's comfort, protection, and personal style.</p>
</div>
</div>

</footer>
