<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Category - Brand</title>
  <link rel="stylesheet" href="/styles/category.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter&display=swap" rel="stylesheet">
</head>

<body>

  <%- include("../partials/header") %>

  <section class="section-bg">
    <div class="container">
      <h1 class="page-title">Explore by Brand</h1>
      <div class="grid">
        <div class="category" style="background-image: url('/images/brand/audi.jpg');">Audi</div>
        <div class="category" style="background-image: url('/images/brand/mercedes.jpg');">Mercedes</div>
        <div class="category" style="background-image: url('/images/brand/bmw.jpg');">BMW</div>
        <div class="category" style="background-image: url('/images/brand/jaguar.jpg');">Jaguar</div>
        <div class="category" style="background-image: url('/images/brand/honda.jpg');">Honda</div>
        <div class="category" style="background-image: url('/images/brand/toyota.jpg');">Toyota</div>
        <div class="category" style="background-image: url('/images/brand/kia.jpg');">KIA</div>
        <div class="category" style="background-image: url('/images/brand/renault.jpg');">Renault</div>
        <div class="category" style="background-image: url('/images/brand/tata.png');">TATA</div>
        <div class="category" style="background-image: url('/images/brand/nissan.png');">Nissan</div>
        <div class="category" style="background-image: url('/images/brand/maruti.jpg');">Maruti Suzuki</div>
        <div class="category" style="background-image: url('/images/brand/hyundai.jpg');">Hyundai</div>
      </div>
    </div>
  </section>

  <%- include("../partials/footer") %>

</body>
</html>