<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Category - Material</title>
  <link rel="stylesheet" href="/styles/category.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter&display=swap" rel="stylesheet">
</head>

<body>

  <%- include("../partials/header") %>

  <section class="section-bg">
    <div class="container">
      <h1 class="page-title">Explore by Material</h1>
      <div class="grid">
        <div class="category" style="background-image: url('/images/material/leather.jpg');">Leather</div>
        <div class="category" style="background-image: url('/images/material/pu.jpg');">PU</div>
        <!-- <div class="category" style="background-image: url('/images/material/velvet.jpg');">Velvet</div> -->
        <div class="category" style="background-image: url('/images/material/canvas.jpg');">Canvas</div>
        <div class="category" style="background-image: url('/images/material/neoprene.jpg');">Neoprene</div>
        <div class="category" style="background-image: url('/images/material/vinyl.jpg');">PVC Vinyl</div>
        <!-- <div class="category" style="background-image: url('/logo/brand/kia.jpg');">KIA</div>
        <div class="category" style="background-image: url('/logo/brand/renault.jpg');">Renault</div>
        <div class="category" style="background-image: url('/logo/brand/tata.png');">TATA</div>
        <div class="category" style="background-image: url('/logo/brand/nissan.png');">Nissan</div>
        <div class="category" style="background-image: url('/logo/brand/maruti.jpg');">Maruti Suzuki</div>
        <div class="category" style="background-image: url('/logo/brand/hyundai.jpg');">Hyundai</div> -->
      </div>
    </div>
  </section>

  <%- include("../partials/footer") %>

</body>
</html>