<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Category - Type</title>
  <link rel="stylesheet" href="/styles/category.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter&display=swap" rel="stylesheet">
</head>

<body>

  <%- include("../partials/header") %>

  <section class="section-bg">
    <div class="container">
      <h1 class="page-title">Explore by Car Type</h1>
      <div class="grid">
        <div class="category" style="background-image: url('/images/type/suv.png');">SUV</div>
        <div class="category" style="background-image: url('/images/type/sedan.jpg');">Sedan</div>
        <div class="category" style="background-image: url('/images/type/coupe.jpg');">Coupe</div>
        <div class="category" style="background-image: url('/images/type/truck.jpg');">Truck</div>
        <div class="category" style="background-image: url('/images/type/convertible.jpg');">Convertible</div>
        <div class="category" style="background-image: url('/images/type/van.avif');">Van / Minivan</div>
        <div class="category" style="background-image: url('/images/type/hatchback.png');">Hatchback</div>
      </div>
    </div>
  </section>

  <%- include("../partials/footer") %>

</body>
</html>